# Compiled Python files
*.pyc

# Compiled С files
*.o

# aibolit files
AIBOLIT-WHITELIST.db
ai-bolit.php

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
*.old